h1 
{
	text-decoration: underline;
	color: green;
}

h2 
{
	color: black;
}

h3 
{
	color: blue;
}

body 
{
	color: black;
	font-weight: bold;
	font-family: Calibri;
	background-repeat: repeat-y, repeat;
	background-image: url('Page.png'), url('papierpeint.png');
	background-position: center, left;
	margin:8;
}